## DockerファイルのADD . $APP_ROOT コマンドにより$APP_ROOTディレクトリを全てコンテナの$APP_ROOTにコピーする
## 当ファイルに記載したディレクトリ・ファイルはコピー対象から外れる
## ------注意-------
## ディレクトリをトラバースしながらファイル名に対して逐一正規表現によりマッチしているかを確認している
## プロジェクトのファイル数が多くなると逆にパフォーマンス低下もあり得るため書きすぎに注意
app/vendor
app/tmp
app/log
.git
db_init

