= form_with(model: wait_queue, local: true) do |form|
  - if wait_queue.errors.any?
    #error_explanation
      h2
        = pluralize(wait_queue.errors.count, "error")
        |  prohibited this wait_queue from being saved:
      ul
        - wait_queue.errors.full_messages.each do |message|
          li
            = message
  .field
    = form.label :name
    = form.text_field :name
  .field
    = form.label :count
    = form.number_field :count
  .field
    = form.label :admin_id
    = form.number_field :admin_id
  .field
    = form.label :reset_time
    = form.time_select :reset_time
  .field
    = form.label :auto_reset
    = form.check_box :auto_reset
  .actions
    = form.submit
